# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
.idea/
env/
venv/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Logs and temp files
*.log
*.tmp
*.bak

# Python egg files
*.egg
*.egg-info/

# Excel or analysis output
processed_output.xlsx

# Streamlit cache
.streamlit/
